.container{
    height: 150px;
    width: 50%;
    background-color: blueviolet;
    box-shadow: 0 5px 10px 0 gray;
    /* si hay mas de dos valores ocupar transition property para especificarlos 
    tambien se puede poner all pero es mejor asi para el rendimiento de la pagina
    */
    transition-property: background-color, width;
    /*aca declaramos solo la duracion del la transicion ocupar milisegundos 1s = 1000ms 
    para aplicar duracion de transicion lo hacemos por orden del property
    */
    transition-duration: 1000ms, 5000ms;
}

.container:hover{
    background-color: rgb(144, 7, 7);
    width: 100%;
}

.containerDos{
    background-color: cornflowerblue;
    box-shadow: 0 5px 10px 0 gray;
    height: 150px;
    width: 20%;
    margin-top: 20px;
    transition-duration: 1000ms;
    /*timing function permite poner valores que tengan un comportamiento en la animacion 
    ease = normal
    ease-in = inicio lento final rapido
    ease- out= empieza rapido termina lento
    ease-in-out empieza lento mitad rapido termina lento
    cubic-bezier()=valores mas personalizables https://cubic-bezier.com/#0,-1.3,0,-1.07
    */
    transition-timing-function:ease-out;


}

.containerDos:hover{
    background-color: rgb(186, 214, 26);
    width: 100%;
}

.containerTres{
    background-color: cornflowerblue;
    box-shadow: 0 5px 10px 0 gray;
    height: 150px;
    width: 50%;
    margin-top: 20px;
    transition-duration: 1000ms;

}

.containerTres:hover{
    background-color: rgb(100, 221, 20);
}

